@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600&display=swap');

*{
    margin: 0;
}
body{
    font-family: 'Dancing Script', cursive;
}

.contenedor{
    background-color: beige;
    width: 100vw;
    height: 100vh;
    text-align: center;
}
p{
    font-size: xx-large;
    padding: 15%;

}

button{
    font-family: 'Dancing Script', cursive;
    font-size: xx-large;
    padding: 0.75 em ;
}

#boton_si{
    transform: translate(-100%,0);
    
}

#boton_no{
    position: absolute;
}
